* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

.form-container {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

select {
  width: 100px;
  margin: 10px;
  font-size: 1rem;
}

.price-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px 100px;
}

.green {
  color: green;
}

.red {
  color: red;
}
